@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Clash Display";
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
		src: url("./fonts/ClashDisplay-Variable.woff2") format("woff2");
	}
}

@layer base {
	@font-face {
		font-family: "Poppins";
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
		src: url("./fonts/Poppins-Variable.woff2") format("woff2");
	}
}
